<h1>Events</h1>

<% @events.each do |event| %>
  <%= event.name %>
  <br/>
  <%= event.date.strftime("%d %b %Y, %I:%M %p") %>
  <br/>
  <%= event.location %>
  <br/>
  <% if user_signed_in? %>
    <%= link_to "Attend Event", new_event_ticket_path(event) %>
  <% else %>
    <%= link_to "Log in to Attend", new_user_session_path %>
  <% end %>
<% end %>
